<html>
    <head>
        <title>CSC | Delete Complaint</title>
        <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    </head>
    <body>
        <div class="nav">
            <div class="nav-header">
              <div class="nav-title">
                CSC UPCL 
              </div>
            </div>
            
            <div class="nav-links">
              <a href="/" class="active">Home</a>
              <a href="/newUserRegistration">New User</a>
              <a href="/newComplaintRegistration">New Complaint</a>
              <a href="/showALLComplaints">Show Complaints</a>
              <a href="/deleteComplaint">Delete Complaint</a>
              <a href="/updateComplaint">Update Complaint</a>
              <a href="/showAllUsers">Show Users</a>
            </div>
        </div>
        <form action="./deleteComplaint" method="POST" name="inputForm" class="form-style-9">
            <ul>
                <li>
                    <input type="Number" placeholder="Account No." name="acc_no" class="field-style field-split align-left" id="id">
                    <input type="button" onclick="checkComp()" class="field-style field-split align-right" value="Verify">
                </li>
                <li>
                    <input type="text" placeholder="Complaint Type" id="comp_type" name="comp_type" class="field-style field-full align-none" disabled required>
                </li>
                <li>
                    <input type="text" placeholder="Complaint" id="complaint" name="complaint" class="field-style field-full align-none" disabled required>
                </li>
                <li>
                    <input type="submit" id="submit" class="field-style field-full align-none" value="Delete" disabled>
                </li>
            </ul>
        </form>
        <script>
            function checkComp(){
                $.get('/getComplaints',function(data){
                    var acc=document.inputForm.acc_no.value;
                    var flag=0;
                    var comp_type;
                    var comp;
                    data.forEach(element => {
                        if(element.acc_no==acc){flag=1;comp_type=element.comp_type;comp=element.complaint;}
                    });
                    if(flag==1){
                        document.getElementById('comp_type').placeholder=comp_type;
                        document.getElementById('complaint').placeholder=comp;
                        document.getElementById('submit').disabled=false;
                    }
                    else{
                        alert("Account number does not exist..Try Again");
                        document.getElementById('submit').disabled=true;
                        document.getElementById('comp_type').placeholder="Complaint Type";
                        document.getElementById('complaint').placeholder="Complaint";
                    }
                });
            }
        </script>
        <div class='footer'>&copy2021 Website created and maintained by Infinite Computer Solutions Ltd.</div>
    </body>
</html>