<!DOCTYPE html>
<html>
    <head>
        <title>CSC | Home</title>
        <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    </head>
    <body>
        <div class="nav">
            <div class="nav-header">
              <div class="nav-title">
                CSC UPCL 
              </div>
            </div>
            
            <div class="nav-links">
              <a href="/" class="active">Home</a>
              <a href="/newUserRegistration">New User</a>
              <a href="/newComplaintRegistration">New Complaint</a>
              <a href="/showALLComplaints">Show Complaints</a>
              <a href="/deleteComplaint">Delete Complaint</a>
              <a href="/updateComplaint">Update Complaint</a>
              <a href="/showAllUsers">Show Users</a>
            </div>
        </div>
        <div class='footer'>&copy2021 Website created and maintained by Infinite Computer Solutions Ltd.</div>
    </body>
</html>